<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span class="titulo">ABC Brokers</span> <span class="numbers">AG345876</span>
  <div class="spacer"></div>
  <a aria-label="Desafio 03" target="_blank" rel="noopener" href="https://twitter.com/angular" title="DhiegoPimenta">
    <img class="round-top" src="/assets/img/log.jpg">
  </a>
</div>

<!-- MENU -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="/assets/img/indie.jpg"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="margin-left: auto;
    margin-right: auto;">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="limpar()">LISTA GERAL</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          POR MÊS
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <ng-container *ngFor="let mes of meses; let i = index">
            <a class="dropdown-item" href="#" (click)="filtrar(i+1)">{{mes}}</a>
          </ng-container>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCat" role="button" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          POR CATEGORIA
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownCat">
          <ng-container *ngFor="let cat of categoria; let i = index">
            <a class="dropdown-item" href="#" (click)="filtrarCategoria(i+1)">{{cat.nome}}</a>
          </ng-container>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <div class="dropdown">
        <button class="btn btn-outline-success my-2 my-sm-0 dropdown-toggle" type="button" id="dropdownMenu1"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          New quote
          <span class="caret"></span>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <span class="breve">Em Breve...</span>
        </div>
      </div>
    </form>
  </div>
</nav>

<div class="lancamentos"><span class="lancamento-titulo">Lançamentos:</span>
  <span class="numberCircle">{{lista.length}}</span>
  <span><button class="btn limpar-btn" (click)="limpar()">LIMPAR</button></span>
</div>
<div class="content">
  <table *ngIf="lista.length > 0" class="table table-hover table-no-border">
    <thead>
      <tr class="topo">
        <th scope="col" class="titulo-tabela">#</th>
        <th scope="col" class="titulo-tabela">VALOR</th>
        <th scope="col" class="titulo-tabela">ORIGEM</th>
        <th scope="col" class="titulo-tabela">CATEGORIA</th>
        <th scope="col" class="titulo-tabela">MÊS LANÇAMENTO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let column of lista">
        <th scope="row">{{column.id}}</th>
        <td><b class="cor">{{column.valor | currency:'BRL':true:'1.2-2'}}</b></td>
        <td>{{column.origem}}</td>
        <td>{{categoria[column.categoria -1].nome}}</td>
        <td>{{meses[column.mes_lancamento -1]}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="lista.length == 0" class="alert alert-danger" role="alert">Não foram encontrados resultados...</div>