  .spacer {
    flex: 1;
  }

  .toolbar {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #8530dc;
    color: white;
    font-weight: 600;
  }



  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 1700px;;
    flex-direction: column;
    align-items: center;
    font-family: Roboto;
  }



  .titulo {
        padding-right: 15px;
    padding-left: 15px;
    font-family: Roboto;
  }

  .numbers {
    border: 1px solid;
    padding: 5px;
  }

  .round-top{
    width: 61px;
  }

.breve {
  padding: 5px;
  text-align: center;
}

.titulo-tabela{
  border-top: none;
  color:#1d1b59;
}

.cor{
  color:#1d1b59;
}

.lancamentos {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  max-width: 1700px;
  margin-top: 5rem;
  padding-left: 2em;
}

.lancamento-titulo {
  font-size: 26px;
  color: #8530dc;
  margin-right: 0.5em;
}

.total {
  font-size: 15px;
}

.numberCircle {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    padding: 8px 13px;

    background: #8530dc;
    border: 2px solid #8530dc;
    color: #fff;
    text-align: center;

    font: 16px Arial, sans-serif;
    margin-top: 1em;
    margin-right: 1em;
}

.nav-link:hover{
      border-bottom: 4px solid #8530dc;
}

.nav-link:active{
      border-bottom: 4px solid #8530dc;
}

.nav-link {
  font-size: 18px;
  font-weight: bold;
}

.limpar-btn {
      float: right;
    width: 170px;
    margin-right: 2em;
    padding: 8px;

}