/* You can add global styles to this file, and also import other style files */
.table td {
    padding: 1.5rem;
}
.table th {
    padding: 1.5rem;
}

.bg-light {
    background-color: #fff !important;
    border-bottom: 3px solid  #f8f9fa!important;
     border-width:3px !important;
}

@media (min-width: 992px) {
.navbar-expand-lg .navbar-nav .nav-link {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-right: 36px;
}
}

.table-hover tbody tr:hover {
    border-left: 4px solid #8530dc;
}

.btn-outline-success {
    color: white;
    background-color: transparent;
    background-image: none;
    border-color: #8530dc;
    background-color: #8530dc;
}

.btn-outline-success:hover {
    color: #8530dc;
    background-color: #fff;
    border-color: #8530dc;
}

.btn-outline-success:not(:disabled):not(.disabled).active, .btn-outline-success:not(:disabled):not(.disabled):active, .show>.btn-outline-success.dropdown-toggle {
   color: #8530dc;
    background-color: #fff;
    border-color: #8530dc;
    box-shadow: none;
}

.btn-outline-success:focus {
    box-shadow: none !important;
}

.alert-danger {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}
